<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
		
		<bean id="transport" class="business.model.Transport" />
		
		<bean id="position" class="business.model.Position" />
		
		<bean id="place" class="business.model.Place" >
			 <property name="position" ref="position" />
		</bean>
		
		<bean id="hotel" class="business.model.Hotel" parent="place"/>
		
		<bean id="touristPlace" class="business.model.TouristPlace" parent="place" />
		
		<bean id="searcher" class="business.engine.Searcher" />
		
		<bean id="offerGenerator" class="business.engine.offerGenerator" />
		
		<bean id="step" class="business.model.Step" >
			<property name="departure" ref="place" />
			<property name="arrival" ref="place" />
			<property name="transport" ref="transport" />
		</bean>

</beans>